<div class="container row">
  <div class="col-md-3 center">
    <p>Este es el footer</p>
  </div>
  <div class="col-md-3">
    <p>Un footer de 3 columnas</p>
  </div>
  <div class="col-md-3">
    <p>Creado por: Pía</p>
  </div>
</div>
